@model  IEnumerable<MCAS.Web.Objects.MastersHelper.ClaimOfficerModel>
@using MCAS.Web.Objects.CommonHelper
@{
    ViewBag.Title = "ClaimOfficerDutyIndex";
    Layout = "~/Views/Shared/_SystemAdminLayout.cshtml";
    @Html.Hidden("oldgroup", 1)
    SecurityPermissions myPemissions = (MCAS.Web.Objects.CommonHelper.SecurityPermissions)ViewData["UserPermissions"];
}
<script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<!-- Main Container Start -->
<div class="dashboard-wrapper">
    <!-- Bootstrap Container Start -->
    <div class="container">
        <!-- Page title start -->
        <div class="row page-title">
            <div class="col-lg-12">
                <h2>
                    System Admin</h2>
                <ul class="breadcrumb">
                    <li>Claims Officer Duty</li>
                </ul>
            </div>
        </div>
        <!-- Page title end -->
        <!-- Row start for sub navigation -->
        <hr />
        <!-- Row End -->
        <!-- Row start -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading clearfix">
                        <i class="icon-check-sign"></i>
                        <h3 class="panel-title">
                            Claims Officer Duty</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="panel panel-info">
                    <div class="panel-sub-heading">
                        <span class="text-danger">*</span> Search Screen
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("ClaimOfficerDutyIndex", "Masters", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
                        {
                            
                            
                            <div class="row">
                                                        
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="inputName">
                                            Department</label>
                                        <div class="col-sm-6">
                                            <select name="ddlDeptCode" id="ddlDeptCode" class="col-lg-12 form-control">
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="inputName">
                                         Claim Officer Name</label>
                                        <div class="col-sm-6">
                                            <input type="text" value="@ViewBag.deptname" name="inputName" id="inputName" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            
                            
                            
                            <div class="row top-buffer"></div>
                            <div class="row top-buffer"></div> 
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    @* <button type="submit" class="btn btn-primary">
                                        Back</button>*@
                                        <button type="submit" class="btn btn-info"> Search</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @if (@myPemissions.Write)
                                         {
                                                @Html.ActionLink("Add New", "ClaimOfficerDutyEditor", "Masters", new { @class = "btn btn-info" })
                                         }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- Row End -->
        <!-- Row Start -->
        <div class="panel-body">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="text-info">
                    Search Results</h4>
                <hr />
            </div>
            <div class="col-lg-12">
                <div class="table-responsive">
                 <div class="row-fluid">
                 <div class="dataTables_wrapper" id="Diary_wrapper" role="grid">
                    <table id="tableDiarySrc" width="100%" class="table table-striped table-hover display">
                        <thead>
                            <tr>
                                <th style="width:10%">
                                    User Group
                                </th>
                                <th style="width:20%">
                                   Claim Officer Name
                                </th>
                                <th style="width:10%">
                                    Department
                                </th>
                                <th style="width:20%">
                                    Last Assignment Date
                                </th>
                                <th style="width:10%">
                                    Type
                                </th>
                                <th style="width:15%">
                                    Claim No.
                                </th>
                                <th style="width:15%">
                                    Select
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int trid = 1;
                                int rowmatch = 0;
                                var display = "";

                                foreach (var item in Model)
                                {
                                    rowmatch += 1;
                                <tr group='@(trid)' style="display:@display;">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UserGroup)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClaimOfficerName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ddlDeptCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastAssignmentdate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ClaimNumber)
                                    </td>
                                    <td>
                                    @if (@myPemissions.Write)
                                     {
                                        @Html.ActionLink("Edit", "ClaimOfficerDutyEditor", new { TranId = item.TranId, pageMode = "Edit" }, new { @class = "btn btn-xs btn-warning" }) 
                                     }
                                     @if (@myPemissions.Read)
                                     {
                                        @Html.ActionLink("View", "ClaimOfficerDutyEditor", new { TranId = item.TranId, pageMode = "View" }, new { @class = "btn btn-xs btn-info" })   
                                     }
                                    </td>
                                </tr>
                                   
                                }}
                        </tbody>
                    </table>
                    </div>
                    </div>
                </div>
            </div>
           
        </div>
        </div>
        <!-- Row End -->
    </div>
     </div>
            </div>
        </div>
    <!-- Bootstrap Container End -->
</div>
<!-- Main Container End -->
@*<script type="text/javascript">

    $(document).ready(function () {
//    $(document).on('focus', ':input', function () {
//            $(this).attr('autocomplete', 'off');
//        });
               loadDeptList();
    });
//    $('#inputName').keypress(function () {
//            var n = $(this).id, e = e || event;
//            var r = e.keyCode == 32 ? true : /[a-z]+$/i.test(String.fromCharCode(e.keyCode || e.which))
//            if (r == false) {
//                return false
//            } else {
//                return r
//            }
//        });
    function loadDeptList() {
        $.ajax({
            url: '@(Url.Action("FillDeptCodeList"))',
            cache: false,
            success: function (data) {
                $("#ddlDeptCode").empty();
                $.each(data, function (index, optiondata) {
                    $("#ddlDeptCode").append("<option value='" + optiondata.DeptCode + "'>" + optiondata.DeptName + "</option>");
                });
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
    
    
function Pagination(id)
 {
     var totalcount = Math.ceil(parseFloat(@Model.Count() / 10));
        if (id == "linext") {
            id = "li" + (parseInt($("#oldgroup").val())==totalcount ? totalcount :(parseInt($("#oldgroup").val())+ 1 ));
        }
        if (id == "liprevious") {
            id = "li" + (parseInt($("#oldgroup").val()) == 1 ? 1 : (parseInt($("#oldgroup").val()) - 1));
        }
        var oldgroup_id = $("#oldgroup").val();
        var tabid_id = id.replace("li", "");
        $("#oldgroup").val(tabid_id);
        $("table tr[group=" + oldgroup_id + "]").css("display", "none");
        $("table tr[group=" + tabid_id + "]").css("display", "");
         $('.active').removeClass();
        $('#'+id).addClass("active");

         if(totalcount>0)
        {
          for(i=1;i<=totalcount;i++)
                    {
                     $("#li"+i).css("display", "none");
                    }
            if(tabid_id>1)
            {
                   
                   if(parseFloat( tabid_id)+2 <= parseFloat(totalcount))
                   {
                        for(i=parseFloat( tabid_id==2?3:tabid_id)-2;i<= parseFloat( tabid_id==2?3:tabid_id)+2;i++)
                        {
                            if(i<=totalcount)
                            {
                             $("#li"+i).css("display", "");
                            }
                        }
                    }
                    else
                    {
                        for(i=parseFloat( totalcount)-4;i<= parseFloat( totalcount);i++)
                        {
                           
                             $("#li"+i).css("display", "");
                        }
                    }
            }
             else
            {
           for(i=parseFloat(1);i<= parseFloat( 5);i++)
                        {
                             $("#li"+i).css("display", "");
                        }
            }
        }

    };
  
   String.prototype.contains = function(it) { return this.indexOf(it) != -1; };
    
</script>*@

<script type="text/javascript">
    $(document).ready(function () {
       loadDeptList();
   });

   function loadDeptList() {
        $.ajax({
            url: '@(Url.Action("FillDeptCodeList"))',
            cache: false,
            success: function (data) {
                $("#ddlDeptCode").empty();
                $.each(data, function (index, optiondata) {
                    if (optiondata.DeptCode == '@ViewBag.department')
                        $("#ddlDeptCode").append("<option value='" + optiondata.DeptCode + "' selected=selected>" + optiondata.DeptName + "</option>");
                        else
                            $("#ddlDeptCode").append("<option value='" + optiondata.DeptCode + "'>" + optiondata.DeptName + "</option>");
                });
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
     }

</script>

<script type="text/javascript">

function Pagination(id) {
     var totalcount = Math.ceil(parseFloat(@Model.Count() / 10));
        if (id == "linext") {
            id = "li" + (parseInt($("#oldgroup").val())==totalcount ? totalcount :(parseInt($("#oldgroup").val())+ 1 ));
        }
        if (id == "liprevious") {
            id = "li" + (parseInt($("#oldgroup").val()) == 1 ? 1 : (parseInt($("#oldgroup").val()) - 1));
        }
        var oldgroup_id = $("#oldgroup").val();
        var tabid_id = id.replace("li", "");
        $("#oldgroup").val(tabid_id);
        $("table tr[group=" + oldgroup_id + "]").css("display", "none");
        $("table tr[group=" + tabid_id + "]").css("display", "");
         $('.active').removeClass();
        $('#'+id).addClass("active");

         if(totalcount>0)
        {
          for(i=1;i<=totalcount;i++)
                    {
                     $("#li"+i).css("display", "none");
                    }
            if(tabid_id>1)
            {
                   
                   if(parseFloat( tabid_id)+2 <= parseFloat(totalcount))
                   {
                        for(i=parseFloat( tabid_id==2?3:tabid_id)-2;i<= parseFloat( tabid_id==2?3:tabid_id)+2;i++)
                        {
                            if(i<=totalcount)
                            {
                             $("#li"+i).css("display", "");
                            }
                        }
                    }
                    else
                    {
                        for(i=parseFloat( totalcount)-4;i<= parseFloat( totalcount);i++)
                        {
                           
                             $("#li"+i).css("display", "");
                        }
                    }
            }
             else
            {
           for(i=parseFloat(1);i<= parseFloat( 5);i++)
                        {
                             $("#li"+i).css("display", "");
                        }
            }
        }

    }
</script>