@model MCAS.Web.Objects.MastersHelper.VehicleUploadViewModel
@using MCAS.Web.Objects.CommonHelper
@{
    ViewBag.Title = "VehicleUploadIndex";
    Layout = "~/Views/Shared/_SystemAdminLayout.cshtml";
    SecurityPermissions myPemissions = (MCAS.Web.Objects.CommonHelper.SecurityPermissions)ViewData["UserPermissions"];
    System.Resources.ResourceManager PageResource = (new MCAS.Web.Objects.MastersHelper.TransactionModel()).GetResourceManager(Model.Resource);
}
<style type="text/css">
    .ui-button-icon-primary.ui-icon.ui-icon-closethick
    {
        margin: -7px 0 0 -7px;
    }
    div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.alert.ui-draggable, div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.alert.ui-draggable
    {
        top: 130px !important;
    }
    
    fieldset
    {
        padding: 5px;
        margin: 1px;
        border: 1px solid;
        border-color: #DAD7D7;
    }
    
    label
    {
        color: #6D644F;
        font: normal 12px 'Open Sans' , arial, sans-serif;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 5px;
    }
    legend
    {
        display: block;
        width: auto;
        padding: 1px;
        margin-bottom: 2px;
        font-size: 14px;
        line-height: inherit;
        color: #1e91cf !important;
        border: 0;
    }
    subMenu
    {
        color: #555;
    }
</style>
<link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-2.1.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/globalize/globalize.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/globalize/cultures/globalize.culture.en-GB.js")" type="text/javascript"></script>
<!-- Main Container Start -->
<div class="dashboard-wrapper">
    <!-- Bootstrap Container Start -->
    <div class="container">
        <!-- Page title start -->
        <div class="row page-title">
            <div class="col-lg-12">
                <h2>@MCAS.Web.Objects.Resources.Common.Common.SystemAdmin</h2>
                <ul class="breadcrumb">
                    <li>@PageResource.GetString("UploadMainMenu")</li>
                     <li>@PageResource.GetString("VehicleListingUpload")</li>
                </ul>
            </div>
        </div>
        <!-- Page title end -->
        <!-- Row start for sub navigation -->
        <hr />
        <div class="row">
            <div class="col-lg-12 text-left">
                <div class="btn-group less-bottom-margin">
                    <a class="btn btn-info" href='@Url.Action("VehicleListingMaster", "Masters")'>@PageResource.GetString("VehicleListingUpload")</a> 
                    <a class="btn btn-default" href='@Url.Action("BusCaptainListingMaster", "Masters")'>@PageResource.GetString("BusCaptainListing")</a>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12 text-left">
                <ul class="nav nav-tabs" id="myTabs">
                    <li id="VehicleListingMasterTab" class="donotHide"><a class="btn btn-default subMenu" href='@Url.Action("VehicleListingMaster", "Masters")'>@PageResource.GetString("VehicleListingMasters")</a></li>
                    <li id="VehicleUploadIndexTab" class="donotHide active"><a class="btn btn-default subMenu" href='@Url.Action("VehicleUploadIndex", "Masters")'>@PageResource.GetString("VehicleListingUpload")</a></li>
                </ul>
            </div>
        </div>
        <!-- Row End -->
        <!-- Row start -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading clearfix">
                        <i class="icon-check-sign"></i>
                        <h3 class="panel-title">@PageResource.GetString("VehicleListingUpload")</h3>
                    </div>
                    <div style="color: Red; font-weight: bold;" class="has-error" id="error">
                        <p align="center">
                            @if (TempData["upload"] != null)
                            {
                                @TempData["upload"]
                            }
                        </p>
                    </div>
                    <div class="panel-body">
                        @*<div class="panel panel-info" id="divTabVehicleEnquiry">
                            @{Html.RenderPartial("VehicleEnquiryList");}
                        </div>*@
                        @using (Html.BeginForm("VehicleUploadIndex", "Masters", FormMethod.Post, new { id = "uploadForm", role = "form", @class = "form-horizontal", enctype = "multipart/form-data" }))
                        {
                            <fieldset>
                                <legend>@PageResource.GetString("UploadFile")</legend>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-4" for="inputName">
                                                @PageResource.GetString("SelectFiletoUpload")<span class="text-danger">*</span></label>
                                            <div class="col-sm-7 paddtop7">
                                                <input type="file" name="uploadFile" id="uploadFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                                    onchange="checkfile(this);" />
                                                <div class="has-error" style="display: none; color: Red; font-weight: bold;" id="error1">
                                                    <p align="left">
                                                        @PageResource.GetString("Uploadfileisrequired")
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="col-sm-4" for="inputName">
                                                 @PageResource.GetString("SelectVehicleClassToValidate") <span class="text-danger">*</span></label>
                                            <div class="col-sm-7">
                                                <select name="ddlVehicleClass" id="ddlVehicleClass" class="form-control">
                                                </select>
                                                <div class="has-error" style="display: none; color: Red; font-weight: bold;" id="error2">
                                                    <p align="left">
                                                        @PageResource.GetString("Vehicleclassisrequired")
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @if (@myPemissions.Write)
                                    {
                                        <div class="col-lg-12 text-center">
                                            <button type="submit" class="btn btn-info">
                                                @PageResource.GetString("UploadFile")</button>
                                        </div>
                                    }
                                </div>
                            </fieldset>
                            
                        }
                        <br />
                        <div class="panel panel-info" id="divTabVehicleEnquiry">
                            @{Html.RenderPartial("VehicleUploadHistory");}
                            @*@Html.Action("VehicleUploadHistory", "Masters")*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row End -->
        <!-- Call View -->
        <!-- End -->
    </div>
    <!-- Bootstrap Container End -->
</div>
<!-- Main Container End -->
<script type="text/javascript">

    $('#uploadForm').on('submit', function (event) {
        if ($('#uploadFile').val() == "") {
            $('#error1').show();
            $('#error').hide();
            hideLoading();
            $("#divLoading").remove();
            event.preventDefault();
            return false;
        }
        if ($('#ddlVehicleClass').val() == "" || $('#ddlVehicleClass').val() == "-1") {
            $('#error2').show();
            $('#error').hide();
            hideLoading();
            $("#divLoading").remove();
            event.preventDefault();
            return false;
        }
    });
    $("input[type=text]").change(function () { $('#error1,#error').hide(); });
    $("input[type=file]").change(function () { $('#error1,#error').hide(); });
    $("select").change(function () {
        $('#error1,#error,#error2').hide();
    });
    function checkfile(sender) {
        var validExts = new Array(".xlsx", ".XLSX", ".xls", ".XLS");
        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt) < 0) {
            alert("Please select valid file. File type should be .xls/.xlsx format");
            $('#uploadForm')[0].reset();
            return false;
        }
        else return true;
    }


</script>
<script type="text/javascript">
    $(document).ready(function () {
        loadVehicleClassList();
    });
    function loadVehicleClassList() {
        $.ajax({
            url: '@(Url.Action("FillVehicleClassList"))',
            cache: false,
            success: function (data) {
                $("#ddlVehicleClass").empty();
                $.each(data, function (index, optiondata) {
                    if (optiondata.VehicleClassCode == '@ViewBag.VClass')
                        $("#ddlVehicleClass").append("<option value='" + optiondata.VehicleClassCode + "' selected=selected >" + optiondata.VehicleClassDesc + "</option>");
                    else
                        $("#ddlVehicleClass").append("<option value='" + optiondata.VehicleClassCode + "'>" + optiondata.VehicleClassDesc + "</option>");
                });
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }
</script>
