@model IEnumerable<MCAS.Web.Objects.MastersHelper.CLMClaimRecoveryModel>
@{
Layout = null;
}
@Html.Hidden("oldgroup", 1)
<style type="text/css">
body {
    font: 12px Arial !important;
    color:#717171;
    }
</style>
<div class="row">
   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-info">
         <div class="container">
            <div class="panel-body">
                @using (Html.BeginForm("CLMClaimRecoveryALL", "ClaimProcessing", FormMethod.Post, new { role = "form", @class = "form-horizontal", id = "CLMRecoveryAll", name = "CLMRecoveryAll" }))
                  {
                  <h5 class="text-info">
                     Claim Recovery History
                  </h5>
                  <hr />
                  <div class="panel-body">
                     <div class="col-lg-12">
                        <div class="table-responsive">
                           <table class="table table-striped table-hover" border="1" cellpadding="0" cellspacing="0">
                              <thead>
                                 <tr style="text-align:left;text-transform:capitalize;">
                                    <td>Sno</td>
                                    <td>Created Date </td>
                                    <td>User Name </td>
                                    <td>Address </td>
                                    <td>Recovery Reason </td>
                                    <td>Currency Code </td>
                                    <td>Exchange Rate </td>
                                    <td>Local Currency Amount </td>
                                    <td>Payment Details</td>
                                 </tr>
                              </thead>
                              <tbody>
                                 @{
                                 int trid = 1;
                                 int rowmatch = 0;
                                 int sno = 1;
                                 var display = "";
                                 foreach (var item in Model)
                                 {
                                 <tr group='@(trid)' style="display:@display;text-align:left;text-transform:capitalize;">
                                    <td style="">@sno</td>
                                    <td style="">@Html.DisplayFor(modelItem => item.CreatedDate).ToString().Substring(0, 10)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UserName )</td>
                                    <td>@Html.DisplayFor(modelItem => item.Address )</td>
                                    <td>@Html.DisplayFor(modelItem => item.RecoveryReason )</td>
                                    <td>@Html.DisplayFor(modelItem => item.CurrCode )</td>
                                    <td>@Html.DisplayFor(modelItem => item.ExchangeRate )</td>
                                    <td>@Html.DisplayFor(modelItem => item.LocalCurrAmt )</td>
                                    <td>@Html.DisplayFor(modelItem => item.PaymentDetails)</td>
                                 </tr>
                                 rowmatch += 1;
                                 sno += 1;
                                 if (rowmatch > 9)
                                 {
                                 rowmatch = 0;
                                 trid += 1;
                                 display = "none";
                                 }
                                 }}
                              </tbody>
                           </table>
                        </div>
                     </div>
                     @{
                     decimal count = (decimal)Model.Count() / 10;
                     int totalcount = (int)Math.Ceiling(count);
                     <div class="col-lg-12 text-center">
                        <ul class="pagination no-margin">
                           <li id="liprevious" onclick="Pagination('liprevious');"><a href="#">«</a> </li>
                           @for (int j = 0; j < totalcount; j++)
                           {
                           if (j == 0)
                           { 
                           <li id="li@(j + 1)" class="active" onclick="Pagination('li@(j + 1)');"><a href="#">@(j + 1)</a></li>
                           }
                           else
                           {
                           if (j > 4)
                           {
                           <li id="li@(j + 1)" style="display: none;" onclick="Pagination('li@(j + 1)');" ><a href="#">@(j + 1)</a></li>
                           }
                           else
                           { 
                           <li id="li@(j + 1)" onclick="Pagination('li@(j + 1)');" ><a href="#">@(j + 1)</a></li>
                           }
                           }
                           }
                           <li id="linext" onclick="Pagination('linext');"><a href="#">»</a> </li>
                        </ul>
                     </div>
                     <div class="col-lg-12">
                        &nbsp;
                     </div>
                     }
                  </div>
                  }
             </div>
         </div>
      </div>
   </div>
</div>

<script type="text/javascript">
   $(document).ready(function () {
   $("#AccidentTab,#ClaimTab,#ThirdPartyTab,#NotesTab,#ReserveTab,#TransactionsTab,#AttachmentsTab,#ToDoTab,#ReverseEditor").removeClass("active");
               $("#PaymentEditor").addClass("active");
               $(".ui-dialog-title").removeClass("ui-dialog-title ").addClass("right");     
                   });
                   $(".ui-dialog-title").removeClass("ui-dialog-title ").addClass("right");     
   function Pagination(id) {
        var totalcount = Math.ceil(parseFloat(@Model.Count() / 10));
           if (id == "linext") {
               id = "li" + (parseInt($("#oldgroup").val())==totalcount ? totalcount :(parseInt($("#oldgroup").val())+ 1 ));
           }
           if (id == "liprevious") {
               id = "li" + (parseInt($("#oldgroup").val()) == 1 ? 1 : (parseInt($("#oldgroup").val()) - 1));
           }
           var oldgroup_id = $("#oldgroup").val();
           var tabid_id = id.replace("li", "");
           $("#oldgroup").val(tabid_id);
           $("table tr[group=" + oldgroup_id + "]").css("display", "none");
           $("table tr[group=" + tabid_id + "]").css("display", "");
            $('.active').removeClass();
           $('#'+id).addClass("active");
   
            if(totalcount>0)
           {
             for(i=1;i<=totalcount;i++)
                       {
                        $("#li"+i).css("display", "none");
                       }
               if(tabid_id>1)
               {
                      
                      if(parseFloat( tabid_id)+2 <= parseFloat(totalcount))
                      {
                           for(i=parseFloat( tabid_id==2?3:tabid_id)-2;i<= parseFloat( tabid_id==2?3:tabid_id)+2;i++)
                           {
                               if(i<=totalcount)
                               {
                                $("#li"+i).css("display", "");
                               }
                           }
                       }
                       else
                       {
                           for(i=parseFloat( totalcount)-4;i<= parseFloat( totalcount);i++)
                           {
                              
                                $("#li"+i).css("display", "");
                           }
                       }
               }
                else
               {
              for(i=parseFloat(1);i<= parseFloat( 5);i++)
                           {
                                $("#li"+i).css("display", "");
                           }
               }
           }
   
       }
       function setTabActive(elementid) {
        $('#myTab1').children().each(function (el, value) {
            if (value.id == elementid)
                $(value).removeClass("active").addClass("active");
            else
                $(value).removeClass("active");
        }
        );
    }
        setTabActive('PaymentEditor');
</script>