@model MCAS.Web.Objects.ClaimObjectHelper.ThirdPartyInfoModel
@using MCAS.Web.Objects.CommonHelper
@{
    var display = "none";
    if (@Model.TPartyId != null)
    {
        display = "inline";
    }

    var caller = "";
    if (Request.QueryString["claimMode"] != null)
    {
        caller = Request.QueryString["claimMode"].ToString();
    }

    var lebmode = "";
    if (Request.QueryString["mode"] != null)
    {
        lebmode = Request.QueryString["mode"].ToString();
    }

    ViewBag.Title = "ThirdPartyEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var policyid = Request.QueryString["PolicyId"];
    var claimId = @Model.ClaimId;
    var accidentClaimIdNew = Request.QueryString["AccidentClaimId"];
    SecurityPermissions myPemissions = (SecurityPermissions)ViewData["UserPermissions"]; 
}
<script src='@Url.Content("~/Scripts/jquery-2.1.0.min.js")' type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/globalize/globalize.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/globalize/cultures/globalize.culture.en-GB.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-v1.10.3.js")" type="text/javascript"></script>
<style type="text/css">
    fieldset
    {
        padding: 5px;
        margin: 1px;
        border: 1px solid;
        border-color: #DAD7D7;
        border-radius: 3px;
    }
    
    legend
    {
        display: block;
        width: auto;
        padding: 1px;
        margin-bottom: 2px;
        font-size: 14px;
        line-height: inherit;
        color: #1e91cf !important;
        border: 0;
    }
</style>
<div class="dashboard-wrapper">
    <div id="TPReserveHistory" title="Reserve History" style="overflow: hidden;">
    </div>
    <div class="3rdpartyDialogue" style="overflow: hidden;"></div>
    <!-- Bootstrap Container Start -->
    <div class="container">
        <!-- Page title start -->
        <div class="row page-title">
            <div class="col-lg-12">
                @{
                    if (@lebmode == "Payment")
                    {
                    <h2>
                        Claim Payment</h2>
                    }
                    else
                    {
                    <h2>
                        Registration</h2>
                    }

                }
                <ul class="breadcrumb">
                    <li>Home</li>
                    @{
                        if (@caller == "Write" && @accidentClaimIdNew != null && @accidentClaimIdNew != "0")
                        {
                        <li>Incomplete Claim Registration</li>
                        }
                        else if (@caller == "Write")
                        {
                        <li>New Claim Registration</li>
                        }
                        else if (@caller == "Read" && @lebmode == "Adj")
                        {
                        <li>Claim Adjustments</li>
                        }
                        else if (@caller == "Read" && @lebmode == "Enq")
                        {
                        <li>Claim Enquiry</li>
                        }
                        else if (@caller == "Read" && @lebmode == "Payment")
                        {
                        <li>Claim Payment Processing</li>
                        }
                        else
                        {
                        <li>New Claim Registration</li>
                        }
                    }
                </ul>
            </div>
        </div>
        <!-- Page title end -->
        <!-- Row start for sub navigation -->
        <hr />
        <!-- Row end for sub navigation -->
        @Html.Action("_ClaimDetails", "ClaimProcessing", new { PolicyId = @policyid })
        <!-- Row start -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading clearfix">
                        <i class="icon-check-sign"></i>
                        <h3 class="panel-title">
                            Third Party Entry</h3>
                    </div>
                    
                    @Html.Action("ThirdPartyList", "ClaimProcessing", new { PolicyId = @policyid, ClaimId = @claimId })
                    
                    @if (@myPemissions.Write)
                    {
                    <div class="row">
                        <div class="col-lg-12 text-left" style="margin-left:10px">
                            <a class="btn btn-info" id="openClaimMandate" href="#" onclick='OpenMandateEditor()'>
                                Add New Claim</a>
                        </div>
                    </div>
                    }
                    <div class="panel-body" id="ThirdPartyEditor" style="display: none;">
                        @using (Html.BeginForm("ThirdPartyEditor", "ClaimProcessing", new { PolicyId = @policyid, ClaimId = @claimId }, FormMethod.Post, new { role = "form", @class = "form-horizontal", id = "thirdpartyform", name = "thirdpartyform" }))
                        {
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(m => m.hiddenprop)
                             @Html.HiddenFor(m => m.TPartyId)
                            <div style="color: Red; font-weight: bold;" class="has-error result1" id="error">
                                <p align="center">
                                    @if (@ViewData["SuccessMsg"] != null)
                                    {
                                        @ViewData["SuccessMsg"]
                                    }
                                </p>
                            </div>
                            

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="inputMandateType">
                                            New Claim Type<span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-8">
                                            <select class="col-lg-6 form-control" id="inputMandateType" name="inputMandateType">
                                                <option value="">[Select...]</option>
                                                <option value="PDM">TPPD Claim </option>
                                                <option value="BIM">TPBI Claim </option>
                                             </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-body" id="RequestEditor">
                            </div>
                            
                            <div style="display:none" id="t2">


                            <fieldset>
                                    <legend>3rd Party Claimant</legend>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="ClaimantName">
                                            Claimant Name :
                                        </label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.ClaimDate, new { id = "inputFinalSettleDate", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="ClaimantNRICPPNO">
                                                    Claimant's NRIC/PP No:
                                                </label>
                                                <div class="col-sm-8">
                                                   @Html.TextBoxFor(m => m.ClaimDate, new { id = "inputFinalSettleDate", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="ClaimantNRICPPNO">
                                                    Claimant's DOB:
                                                </label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(m => m.ClaimDate, new { id = "ClaimantDOB", @class = "form-control datepicker" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">
                                                    Claimant's Gender:
                                                </label>
                                                <div class="col-sm-8">
                                                  <div class="RadioButton">
                                                <input checked="checked" data-val="true" data-val-required="Claim Status is required."
                                                    id="ClaimStatus_11" name="ClaimStatus" type="radio" value="1">&nbsp;&nbsp;<label
                                                        for="ClaimStatus_1">Male</label>&nbsp;</div>
                                            <div class="RadioButton">
                                                <input id="ClaimStatus_22" name="ClaimStatus" type="radio" value="2">&nbsp;&nbsp;<label
                                                    for="ClaimStatus_2">Female</label>&nbsp;</div> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="ClaimantType">
                                                    Claimant's Type:
                                                </label>
                                                <div class="col-sm-8">
                                                    <select class="form-control valid" id="ClaimType" name="ClaimType" aria-required="true"
                                                    aria-invalid="false">
                                                    <option selected="selected" value="OD">Commuter</option>
                                                    <option value="OD">Pedestrain</option>
                                                    <option value="OD">Vechile Owner</option>
                                                    <option value="OD">Company</option>
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        <label class="col-sm-2 control-label" for="ClaimantAddress">
                                            Claimant's Address
                                        </label>
                                        <div class="col-sm-10">
                                        @Html.TextAreaFor(m => m.ClaimDate, new { id = "inputFinalSettleDate", @class = "form-control" })
                                           
                                        </div>
                                    </div>*@
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="ClaimantAddress1">
                                            Claimant's Address1:
                                        </label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.VehicleRegnNo, new { id = "ClaimantAddress1", @class = "form-control" })
                                        </div>
                                    </div>
                                     <div class="form-group">
                                        <label class="col-sm-2 control-label" for="ClaimantAddress2">
                                            Claimant's Address2:
                                        </label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.VehicleRegnNo, new { id = "ClaimantAddress2", @class = "form-control" })
                                        </div>
                                    </div><div class="form-group">
                                        <label class="col-sm-2 control-label" for="ClaimantAddress3">
                                            Claimant's Address3:
                                        </label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(m => m.VehicleRegnNo, new { id = "ClaimantAddress3", @class = "form-control" })
                                        </div>
                                    </div><div class="form-group">
                                        <label class="col-sm-2 control-label" for="PostalCode">
                                            Claimant's Postal Code:
                                        </label>
                                        <div class="col-sm-4">
                                          @Html.TextBoxFor(m => m.VehicleRegnNo, new { id = "PostalCode", @class = "form-control" })
                                         </div>
                                         <div class="col-sm-6">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="ClaimantContactNo">
                                                    Claimant’s Contact No:
                                                </label>
                                                <div class="col-sm-8">
                                                   @Html.TextBoxFor(m => m.ClaimDate, new { id = "inputFinalSettleDate", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="ClaimantEmail">
                                                    Claimant's Email:
                                                </label>
                                                <div class="col-sm-8">
                                                   @Html.TextBoxFor(m => m.ClaimDate, new { id = "inputFinalSettleDate", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label" for="VehicleRegnNo">
                                                    Vehicle Regn No:
                                                </label>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(m => m.VehicleRegnNo, new { id = "VehicleRegnNo", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label" for="VehicleMake">
                                                    Vehicle Make:
                                                </label>
                                                <div class="col-sm-7">
                                                    @Html.TextBoxFor(m => m.VehicleMake, new { id = "VehicleMake", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label" for="VehicleModel">
                                                    Vehicle Model:
                                                </label>
                                                <div class="col-sm-7">
                                                    @Html.TextBoxFor(m => m.VehicleModel, new { id = "VehicleModel", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="ClaimantNRICPPNO">
                                                    Is claimant an infant?
                                                </label>
                                                <div class="col-sm-8">
                                                   <div class="RadioButton">
                                                <input id="ClaimStatus_121" name="ClaimStatus_121" type="radio" value="1"/>&nbsp;&nbsp;<label
                                                        for="ClaimStatus_121">Yes</label>&nbsp;</div>
                                            <div class="RadioButton">
                                                <input id="ClaimStatus_222" name="ClaimStatus_222" type="radio" value="2"/>&nbsp;&nbsp;<label
                                                    for="ClaimStatus_222">No</label>&nbsp;</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                        </div>
                                    </div>
                                    <div class="form-group" id="iftant1" style="display: none;">
                                        <label class="col-sm-2 control-label" for="InfantName">
                                            Infant's Name :
                                        </label>
                                        <div class="col-sm-10">
                                           @Html.TextBoxFor(m => m.VehicleModel, new { id = "VehicleModel", @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group" id="iftant2" style="display: none;">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label" for="InfantNRIC">
                                                    Infant's NRIC:
                                                </label>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(m => m.VehicleModel, new { id = "VehicleModel", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label" for="InfantDOB">
                                                    Infant's DOB:
                                                </label>
                                                <div class="col-sm-7">
                                                @Html.TextBoxFor(m => m.VehicleModel, new { id = "VehicleModel", @class = "form-control datepicker" })
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label">
                                                    Infant's Gender:
                                                </label>
                                                <div class="col-sm-7">
                                                   <input checked="checked" data-val="true" data-val-required="Claim Status is required."
                                                    id="ClaimStatus_11" name="ClaimStatus" type="radio" value="1">&nbsp;&nbsp;<label
                                                        for="ClaimStatus_41">Male</label>&nbsp;&nbsp;<input checked="checked" data-val="true"
                                                            data-val-required="Claim Status is required." id="ClaimStatus_11" name="ClaimStatus"
                                                            type="radio" value="1">&nbsp;&nbsp;<label for="ClaimStatus_51">Female</label>&nbsp;&nbsp;
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            <fieldset>
                                <legend>New Claim Entry</legend>
                                
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-lg-6 control-label" for="inputClaimType">
                                                Claim Type&nbsp;</label>
                                            <div class="col-sm-6">
                                                <select class="form-control valid" data-val="true" data-val-required="Claim Type is required."
                                                    id="ddlClaimType" name="ClaimType" aria-required="true" aria-invalid="false">
                                                    <option value="OD">TPPD</option>
                                                </select>
                                            </div>
                                            </div>
                                        </div>
                                               
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="inputClaimDate">
                                                Record No :
                                            </label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.ClaimDate, new { id = "inputClaimDate", @class = "form-control " })
                                                @Html.ValidationMessageFor(m => m.ClaimDate)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="inputClaimDate">
                                                Timebar Date
                                            </label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(m => m.ClaimDate, new { id = "inputClaimDate", @class = "form-control datepicker" })
                                                @Html.ValidationMessageFor(m => m.ClaimDate)
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>    
                                
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label" for="inputClaimDate">
                                               Claim Date
                                            </label>
                                            <div class="col-sm-6">
                                                @Html.TextBoxFor(m => m.ClaimDate, new { id = "inputClaimDate", @class = "form-control datepicker" })
                                                @Html.ValidationMessageFor(m => m.ClaimDate)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="inputClaimOfficer">
                                                Claims Officer
                                            </label>
                                            <div class="col-sm-8">
                                                <select class="form-control valid" data-val="true" data-val-required="Claim Type is required."
                                                    id="ClaimOfficer" name="ClaimOfficer" aria-required="true" aria-invalid="false">
                                                    <option selected="selected" value="Select">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="inputClaimOfficer">
                                                Driver's Liability
                                            </label>
                                            <div class="col-sm-8">
                                                <select class="form-control valid" data-val="true" data-val-required="Claim Type is required."
                                                    id="ClaimOfficer" name="ClaimOfficer" aria-required="true" aria-invalid="false">
                                                    <option selected="selected" value="Select">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                </div>    
                                
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-6 control-label" for="inputClaimType">
                                                Accident Cause</label>
                                            <div class="col-sm-6">
                                                <select class="form-control valid" id="AccidentCause" name="AccidentCause" aria-required="true"
                                                    aria-invalid="false">
                                                    <option selected="selected" value="Select">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="inputClaimOfficer">
                                                Case Category
                                            </label>
                                            <div class="col-sm-8">
                                                <select class="form-control valid" data-val="true" data-val-required="Claim Type is required."
                                                    id="CaseCategory" name="CaseCategory" aria-required="true" aria-invalid="false">
                                                    <option selected="selected" value="Select">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="inputClaimType">
                                                Case Status</label>
                                            <div class="col-sm-8">
                                                <select class="form-control valid" data-val="true" data-val-required="Claim Type is required."
                                                    id="CaseStatus" name="CaseStatus" aria-required="true" aria-invalid="false">
                                                    <option selected="selected" value="Select">Select</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                    <div class="form-group">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label" for="ClaimDate">
                                                    Claimant Status
                                                </label>
                                                <div class="col-sm-6">
                                                    <select class="form-control valid" data-val="true" data-val-required="Claim Type is required."
                                                    id="ddlClaimType" name="ClaimType" aria-required="true" aria-invalid="false">
                                                    <option selected="selected" value="OD">Pending</option>
                                                    <option selected="selected" value="OD">Finalized</option>
                                                    <option selected="selected" value="OD">Cancelled</option>
                                                    <option selected="selected" value="OD">ReOpened</option>
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="FinalSettleDate">
                                                    Final Settle Date
                                                </label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(m => m.FinalSettleDate, new { id = "FinalSettleDate", @class = "form-control datepicker" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="ReferredToInsurers">
                                                    Referred To Insurers?
                                                </label>
                                                <div class="col-sm-8" style="width: 45px !important;">
                                                    @*@Html.CheckBoxFor(m => m.ReferredToInsurers, new { id = "ReferredToInsurers" })*@
                                                    <input type="checkbox" name="vehicle" value="Bike">
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>

                                <div class="form-group">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label" for="OurSurveyorApp">
                                                    Our Surveyor Appointed
                                                </label>
                                                <div class="col-sm-6">
                                                <select class="form-control valid" id="ClaimType" name="ClaimType" aria-required="true"
                                                    aria-invalid="false">
                                                    <option selected="selected" value="OD">Select</option>
                                                    
                                                </select>
                                               
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="SappointedDate">
                                                    Appointed Date
                                                </label>
                                                <div class="col-sm-8">
                                                     @Html.TextBoxFor(m => m.ClaimDate, new { id = "inputClaimDate", @class = "form-control datepicker" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="SrefNo">
                                                    Reference No
                                                </label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(m => m.ClaimDate, new { id = "SrefNo", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label" for="OurLawyerApp">
                                                    Our Lawyer Appointed
                                                </label>
                                                <div class="col-sm-6">
                                                    <select class="form-control valid" id="ClaimType" name="ClaimType" aria-required="true"
                                                    aria-invalid="false">
                                                    <option selected="selected" value="OD">Select</option>
                                                    
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="LappointedDate">
                                                    Appointed Date
                                                </label>
                                                <div class="col-sm-8">
                                                     @Html.TextBoxFor(m => m.ClaimDate, new { id = "inputClaimDate", @class = "form-control datepicker" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="Lrefno">
                                                    Reference No
                                                </label>
                                                <div class="col-sm-8">
                                                     @Html.TextBoxFor(m => m.ClaimDate, new { id = "inputClaimDate", @class = "form-control " })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label" for="OurAdjustorApp">
                                                    Our Adjustor Appointed
                                                </label>
                                                <div class="col-sm-6">
                                                   <select class="form-control valid" id="ClaimType" name="ClaimType" aria-required="true"
                                                    aria-invalid="false">
                                                    <option selected="selected" value="OD">Select</option>
                                                    
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="AappDate">
                                                    Appointed Date
                                                </label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(m => m.ClaimDate, new { id = "inputClaimDate", @class = "form-control datepicker" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="Arefno">
                                                    Reference No
                                                </label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(m => m.ClaimDate, new { id = "inputClaimDate", @class = "form-control " })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label" for="OurWorkShop">
                                                    Our Workshop/Depot
                                                </label>
                                                <div class="col-sm-6">
                                                   <select class="form-control valid" id="ClaimType" name="ClaimType" aria-required="true"
                                                    aria-invalid="false">
                                                    <option selected="selected" value="OD">Select</option>
                                                    
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="OWAppDate">
                                                    Appointed Date
                                                </label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(m => m.ClaimDate, new { id = "inputClaimDate", @class = "form-control datepicker" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="Owrefno">
                                                    Reference No
                                                </label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(m => m.ClaimDate, new { id = "Owrefno", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                                             
                                
                                
                            </fieldset>
                            

                            
                         <div class="clearfix igr col-md-12 text-center">
                                    <div class="form-group">
                                        <button style="display:none"  class="btn btn-info" id="btnSave1">
                                           Save</button>
                                                                               
                                    </div>
                                </div>
                         <fieldset>
                                    <legend>Initial Reserve</legend>
                                    <div class="form-group">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label" for="VehicleRegnNo">
                                                    Reserve
                                                </label>
                                                <div class="col-sm-4" style="padding-right: 0px;">
                                                    <select class="form-control" id="ddlReserveType" name="ReserveCurr">
                                                        <option selected="selected" value="SGD">SGD</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-1" style="padding-left: 0px; padding-right: 0px;">
                                            @Html.TextBoxFor(m => m.TimeBarDate, new { id = "TimeBarDate", @class = "form-control" })
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label" for="TimeBarDate">
                                                    Ex Rate
                                                </label>
                                                <div class="col-sm-7">
                                                    @Html.TextBoxFor(m => m.TimeBarDate, new { id = "TimeBarDate", @class = "form-control", @Value = "1.000", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label">
                                                    Amount<br />(Local Curr)
                                                </label>
                                                <div class="col-sm-7">
                                                    @Html.TextBoxFor(m => m.TimeBarDate, new { id = "TimeBarDate", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-8 text-right">
                                            <div class="form-group">
                                                <a class="btn btn-info" id="AddintialReserve" href="#">Add Initial Reserve</a> <a
                                                    class="btn btn-info" id="ViewReserveHistory" href="#">View Reserve History</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label">
                                                    Total Reserve<br />(Local Curr)
                                                </label>
                                                <div class="col-sm-7">
                                                    @Html.TextBoxFor(m => m.TimeBarDate, new { id = "TimeBarDate", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>

                            <fieldset>
                                    <legend id="l1">
                                        <img alt="" id="l1img" src='@Url.Content("~/Images/icon_plus.png")' />3rd Party
                                        Service Provider/Insurer</legend>
                                    <div id="l1div" class="form-group">
                                        <label class="col-sm-2 control-label" for="ClaimantName">
                                            3rd Party Service Provider/Insurer
                                        </label>
                                        <div class="col-sm-2">
                                            <a class="btn btn-info" id="3rdpartypopup" href="#">ADD</a>
                                        </div>
                                        <div class="col-sm-8">
                                        </div>
                                    </div>
                                </fieldset>
                            <fieldset>
                                <legend id="l11"><img alt="" id="l11img" src='@Url.Content("~/Images/icon_plus.png")' />Insurer Matters</legend>
                                <div id="l11div" class="panel-body">
                                    

                                    <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label" for="Rcreatedby">
                                                    Report sent to Insurer
                                                </label>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(m => m.ReopenedDate, new { id = "Rcreatedby", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label" for="RcreatedDate">
                                                    Referred to Insurers
                                                </label>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(m => m.ReopenedDate, new { id = "RcreatedDate", @class = "form-control datepicker" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label" for="ReopenedDate">
                                                    Informed Insurer of Settlement
                                                </label>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(m => m.ReopenedDate, new { id = "ReopenedDate", @class = "form-control datepicker" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label" for="LateReopened">
                                                    Excess Recovered Date
                                                </label>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(m => m.ReopenedDate, new { id = "LateReopened", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </fieldset>
                                                      
                                                    
                         <fieldset>
                                <legend id="l2"><img alt="" id="l2img" src='@Url.Content("~/Images/icon_plus.png")' />Severity</legend>
                                <div id="l2div" class="panel-body">
                                    <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label" for="WritIssuedDate">
                                                    Writ Issued 
                                                </label>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(m => m.WritIssuedDate, new { id = "WritIssuedDate", @class = "form-control datepicker" })
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label" for="WritNo">
                                                    Writ No
                                                </label>
                                                <div class="col-sm-7">
                                                    @Html.TextBoxFor(m => m.WritNo, new { id = "WritNo", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-sm-5 control-label" for="SensitiveCase">
                                                    Sensitive Case
                                                </label>
                                                <div class="col-sm-7">
                                                    @Html.TextBoxFor(m => m.WritNo, new { id = "SensitiveCase", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    
                                </div>
                            </fieldset>                           
                         <fieldset>
                                <legend id="l3"><img alt="" id="l3img" src='@Url.Content("~/Images/icon_plus.png")' />Record Creation</legend>
                                <div id="l3div" class="panel-body">
                                    <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="Rcreatedby">
                                                    Created by
                                                </label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(m => m.ReopenedDate, new { id = "Rcreatedby", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="RcreatedDate">
                                                    Created Date
                                                </label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(m => m.ReopenedDate, new { id = "RcreatedDate", @class = "form-control datepicker" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="ReopenedDate">
                                                    Reopened Date
                                                </label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(m => m.ReopenedDate, new { id = "ReopenedDate", @class = "form-control datepicker" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label" for="LateReopened">
                                                    Late/Reopened
                                                </label>
                                                <div class="col-sm-8">
                                                    @Html.TextBoxFor(m => m.ReopenedDate, new { id = "LateReopened", @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </fieldset>                           
                         <fieldset>
                                <legend id="l4">
                                <img alt="" id="l4img" src='@Url.Content("~/Images/icon_plus.png")' />Cancellation of Record</legend>
                                <div id="l4div" class="panel-body">
                                    <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label" for="RecordCancellationDate">
                                                    Record Cancellation Date
                                                </label>
                                                <div class="col-sm-6">
                                                    @Html.TextBoxFor(m => m.ReopenedDate, new { id = "RecordCancellationDate", @class = "form-control datepicker" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-sm-6 control-label" for="RecordCancellationReason">
                                                    Record Cancellation Reason
                                                </label>
                                                <div class="col-sm-6">
                                                    @Html.TextAreaFor(m => m.ReopenedDate, new { id = "RecordCancellationReason", @class = "form-control", @rows = "2" })
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </fieldset>
                            <div class="clearfix igr col-md-12 text-center">
                                    <div style="display:none" class="form-group">
                                        <button class="btn btn-info" id="btnSave">
                                            Save</button>
                                        <button type="button" class="btn btn-info">
                                            Reset</button>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- Row End -->
    </div>
</div>
<script type="text/javascript" src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {
        var sPath = window.location.pathname;
        var sPage = sPath.substring(sPath.lastIndexOf('/') + 1);
        console.log(sPage);
        if (sPage == "ThirdPartyEditor" && getQueryVariable("ClaimId") != "0" && getQueryVariable("AccidentClaimId") !== "0") {
            $("#Previewdocuments").show();
//            $('#Previewdocuments').css('color', 'blue');
            $("#Previewdocuments").prop('disabled', false);
        }
        else {
            $("#Previewdocuments").prop('disabled', true);
        }
    })


    function getQueryVariable(a) {
        for (var e = "@MenuListItem.ClaimTabs.GetQueryStringVal()".replace(/amp;/ig, "").split("&"), d = 0; d < e.length; d++) {
            var b = e[d].split("=");
            if (b[0] == a) return b[1]
        }
    };
</script>
<script type="text/javascript">

   
    

    function onclickcancel() {
        $('#thirdpartyform')[0].reset();
    }

    function showclaimDocument(url) {
        window.open(url, "ClaimDocumentWindow", "scrollbars=yes, resizable=yes,top=10, left=10, width=700, height=600");
    }

    function OpenNewThirdParty() {
        $('#ThirdPartyEditor').attr('style', 'Display:inline');
        $("input[type=text]").val("");
        $("textarea").val("");
        $("select").prop("selectedIndex", 0);
//        $("#ddlReserveType option[value='SGD']").attr("selected", "selected");
//        $("#ddlExpensesType option[value='SGD']").attr("selected", "selected");
//        $("#ddlClaimAmtType option[value='SGD']").attr("selected", "selected");
        $("#inputExRateReserve,#inputExpensesExRate,#inputClaimAmtExRate").val("1.000000000");
        $('.result1 div p:first').empty();
    }

    $(function () {
        var claimentStatus = '@ViewData["EnableTab"]';
        enableTPTab(claimentStatus.toLowerCase());
    });
    $(function () {
        var ODStatus = '@ViewData["EnableODTab"]';
        enableODTab(ODStatus.toLowerCase());
    });
    $(function () {
        if ('@ViewData["DisplayReserve"]' == "readonly") {
            $('#inputReserveAmount').prop('readOnly', true);
            $('#inputAmountReserve').prop('readOnly', true);
            $('#inputExRateReserve').prop('readOnly', true);
            $('#ddlReserveType').prop('disabled', true);

        }
    });


    $(document).ready(function () {
        var clamid;
        if ('@Model.ClaimId') {
            clamid = '@Model.ClaimId';
            $("#btnReserveHistory").click(function () {
                InitializeDialog1($("#TPReserveHistory", clamid));
                var opt = {
                    autoOpen: false,
                    width: 1200,
                    resizable: true,
                    draggable: true,
                    show: { effect: 'drop', direction: "up" },
                    title: "Reserve History",
                    model: true,
                    show: 'slide',
                    dialogClass: 'alert',
                    closeOnEscape: true,
                    open: function (event, ui) {
                        var pathname = "/ClaimProcessing/ReverseChangeall?ClaimId=" + clamid + "&Tab=TP" + "&ClaimantId=" + '@Model.TPartyId';
                        var cid = (window.location.pathname.contains("MCAS.Web")) ? "/MCAS.Web" + pathname : pathname;
                        $("#TPReserveHistory").load(cid);
                    },
                    position: {
                        my: "center",
                        at: "center",
                        of: window
                    },
                    close: function () {
                        $(this).dialog('close');
                    }
                };
                $("#TPReserveHistory").dialog(opt).dialog("open");
                $("#TPReserveHistory").dialog("moveToTop");
            });
        }
        else {
            $("#btnReserveHistory").click(function (e) {
                e.preventDefault();
            });
        }

        function InitializeDialog1($element, clamid) {
            $element.dialog(
            {
                autoOpen: false,
                width: 1200,
                resizable: true,
                draggable: true,
                show: { effect: 'drop', direction: "up" },
                title: "Reserve History",
                model: true,
                show: 'slide',
                dialogClass: 'alert',
                closeOnEscape: true,
                open: function (event, ui) {
                    var pathname = "/ClaimProcessing/ReverseChangeall?ClaimId=" + clamid + "&Tab=TP";
                    var cid = (window.location.pathname.contains("MCAS.Web")) ? "/MCAS.Web" + pathname : pathname;
                    $element.load(cid);
                },
                position: {
                    my: "center",
                    at: "center",
                    of: window
                },
                close: function () {
                    $(this).dialog('close');
                }

            });

        };

        $(function () {
            $("#inputPaidDate").datepicker({
                dateFormat: "dd/mm/yy",
                showStatus: !0,
                showWeeks: !0,
                currentText: "Now",
                autoSize: !0,
                gotoCurrent: !0,
                showAnim: "blind",
                highlightWeek: !0,
                changeMonth: !0,
                changeYear: !0,
                yearRange: "1951:2050",
                onSelect: function (b) {
                    $(this).valid();
                }
            });
        });

        var ispostbackObject = document.getElementById('hiddenprop').value;
        var tpartyId = document.getElementById('TPartyId').value;
        if (ispostbackObject != "1") {
            if (tpartyId != null && tpartyId != "") {
                $('#ThirdPartyEditor').attr('style', 'Display:inline');
                document.getElementById('hiddenprop').value = "0";
            }
            else {
                $('#ThirdPartyEditor').attr('style', 'Display:none');
            }
        }
        else {
            $('#ThirdPartyEditor').attr('style', 'Display:inline');
            document.getElementById('hiddenprop').value = "0";
        }

      //  setTabActive('ThirdPartyTab');

        $(function () {
            var val = $('#ddlReserveType').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ExpensesType", "ClaimProcessing")',
                data: { CurrencyCode: val },
                success: function (data) {
                    var a = data;
                    $("#inputExRateReserve").val(a);

                }
            });
        });



        $(function () {
            var val = $('#ddlExpensesType').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ExpensesType", "ClaimProcessing")',
                data: { CurrencyCode: val },
                success: function (data) {
                    var a = data;
                    $("#inputExpensesExRate").val(a);

                }
            });
        });

        $(function () {
            var val = $('#ddlClaimAmtType').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ExpensesType", "ClaimProcessing")',
                data: { CurrencyCode: val },
                success: function (data) {
                    var a = data;
                    $("#inputClaimAmtExRate").val(a);

                }
            });
        });

        $("#ddlReserveType").change(function () {
            var val = $(this).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ExpensesType", "ClaimProcessing")',
                data: { CurrencyCode: val },
                success: function (data) {
                    var a = data;
                    $("#inputExRateReserve").val(a);

                }
            });
        });


        $("#ddlExpensesType").change(function () {
            var val = $(this).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ExpensesType", "ClaimProcessing")',
                data: { CurrencyCode: val },
                success: function (data) {
                    var a = data;
                    $("#inputExpensesExRate").val(a);

                }
            });
        });

        $("#ddlClaimAmtType").change(function () {
            var val = $(this).val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("ExpensesType", "ClaimProcessing")',
                data: { CurrencyCode: val },
                success: function (data) {
                    var a = data;
                    $("#inputClaimAmtExRate").val(a);

                }
            });
        });

        $('#inputReserveAmount').change(function () {
            $(this).val($(this).val() == "" ? $(this).val() : $(this).val().contains('.') ? $(this).val() : $(this).val() + ".00");
            var amount = $(this).val();
            var resexrate = $('#inputExRateReserve').val();
            var returnamt = (amount * resexrate);
            $('#inputAmountReserve').val(parseFloat(returnamt).toFixed(2));
            TotalReserve();
        });

        $('#inputExpensesAmount').change(function () {
            $(this).val($(this).val() == "" ? $(this).val() : $(this).val().contains('.') ? $(this).val() : $(this).val() + ".00");
            var examount = $(this).val();
            var exrate = $('#inputExpensesExRate').val();
            var returnexamt = (examount * exrate);
            $('#inputAmountExpenses').val(parseFloat(returnexamt).toFixed(2));
            TotalReserve();
        });

        $('#inputClaimAmtEx').change(function () {
            $(this).val($(this).val() == "" ? $(this).val() : $(this).val().contains('.') ? $(this).val() : $(this).val() + ".00");
            var claimamount = $(this).val();
            var claimexrate = $('#inputClaimAmtExRate').val();
            var returnclaimamt = (claimamount * claimexrate);
            $('#inputClaimAmt').val(parseFloat(returnclaimamt).toFixed(2));
        });

        function TotalReserve() {
            if ($('#inputAmountReserve').val() != "" && $('#inputAmountExpenses').val() != "") {
                var sum = parseFloat($('#inputAmountReserve').val()) + parseFloat($('#inputAmountExpenses').val());
                $('#inputTotalReserve').val(parseFloat(sum).toFixed(2));
            }
        }

        $('#inputExpensesAmount,#inputReserveAmount,#inputClaimAmtEx').keypress(function () {
            var t = $(this).id;
            var n = event.type;
            var r = n.which ? n.which : event.keyCode;
            if (r != 46 && r > 31 && (r < 48 || r > 57)) {
                alert("Please enter number only");
                $('#inputName').focus();
                return false
            } else {
                return true
            }
        });
    });
    String.prototype.contains = function (it) { return this.indexOf(it) != -1; };
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#ddlOtherPartyType").change(function () {
            var result = $(this).val();
            switch (result) {
                case 'PD':
                    $('#ClaimantName').attr('style', 'Display:inline');
                    $('#TPAdd1').attr('style', 'Display:inline');
                    $('#TPMobNo').attr('style', 'Display:inline');
                    $('#TPEmailAdd').attr('style', 'Display:inline');
                    $('#TPNRICNo').attr('style', 'Display:none');
                    $('#VehicleRegnNo').attr('style', 'Display:none');
                    $('#VehicleMake').attr('style', 'Display:none');
                    $('#VehicleModel').attr('style', 'Display:none');
                    break;
                case 'BI':
                    $('#ClaimantName').attr('style', 'Display:inline');
                    $('#TPAdd1').attr('style', 'Display:inline');
                    $('#TPMobNo').attr('style', 'Display:inline');
                    $('#TPNRICNo').attr('style', 'Display:inline');
                    $('#TPEmailAdd').attr('style', 'Display:none');
                    $('#VehicleRegnNo').attr('style', 'Display:none');
                    $('#VehicleMake').attr('style', 'Display:none');
                    $('#VehicleModel').attr('style', 'Display:none');
                    break;
                case 'PL':
                    $('#ClaimantName').attr('style', 'Display:inline');
                    $('#TPAdd1').attr('style', 'Display:inline');
                    $('#TPMobNo').attr('style', 'Display:inline');
                    $('#TPEmailAdd').attr('style', 'Display:inline');
                    $('#TPNRICNo').attr('style', 'Display:none');
                    $('#VehicleRegnNo').attr('style', 'Display:none');
                    $('#VehicleMake').attr('style', 'Display:none');
                    $('#VehicleModel').attr('style', 'Display:none');
                    break;
                case 'TPV':
                    $('#ClaimantName').attr('style', 'Display:inline');
                    $('#TPAdd1').attr('style', 'Display:inline');
                    $('#TPMobNo').attr('style', 'Display:inline');
                    $('#TPEmailAdd').attr('style', 'Display:inline');
                    $('#VehicleRegnNo').attr('style', 'Display:inline');
                    $('#TPNRICNo').attr('style', 'Display:inline');
                    $('#VehicleMake').attr('style', 'Display:inline');
                    $('#VehicleModel').attr('style', 'Display:inline');
                    $('#TPEmailAdd').attr('style', 'Display:none');
                    break;
                default:
                    break;
            }
        });
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {
    var url = "@Url.Action("ReserveHistory")";
        $("#ReserveHistorydialog").dialog({
        autoOpen: false,
        modal: true,
        draggable: false,
        resizable: false,
        position: ['center', 'top'],
        show: 'blind',
        hide: 'blind',
        width: 400,
        dialogClass: 'ui-dialog-osx',
        open: function(ev, ui){
            $('#ReserveHistoryIframe').attr('src', url);
          }
    });

    $("#btnReserveHistory").on("click", function (event) {
                $('#ReserveHistorydialog').dialog('open');

    });

      $("#btnReservePaymentHistory").on("click", function (event) {
                $('#ReserveHistorydialog').dialog('open');

    });
    });
</script>
<script  type="text/javascript">
    $(function () {
        $("#ddlReserveType option[value!='SGD']").remove();
        $("#ddlExpensesType option[value!='SGD']").remove();
        $("#ddlClaimAmtType option[value!='SGD']").remove();
        $("#ddlReserveType,#ddlExpensesType,#ddlClaimAmtType").css({ "pointer-events": "none", "cursor": "default" }).css('background-color', '#eee');
    })
</script>
<script language="javascript" type="text/javascript">
    $(function () {
        $("#l1div,#l11div,#l2div,#l3div,#l4div,#S3div,#S4div,#S5div,#S6div").hide();
        $("#t2 legend").click(function (a) {
            $("#" + this.id + "img", this).attr("src", function (a, b) {
                return '@Url.Content("~/Images/icon_minus.png")' == b ? '@Url.Content("~/Images/icon_plus.png")' : '@Url.Content("~/Images/icon_minus.png")'
            });
            $("#" + this.id + "div").toggle()
        }).css("cursor", "pointer")
    });
</script>
<script type="text/javascript">
    $(function () {
        $.culture = Globalize.culture("en-GB");
        $.validator.methods.date = function (value, element) {
            return this.optional(element)
                    || Globalize.parseDate(value, "dd/MM/yyyy", "en-GB")
                    || Globalize.parseDate(value, "yyyy-mm-dd");
        }

        $("#inputPaidDate").blur(function () {
            "The field PaidDate must be a date." == $("#thirdpartyform > div:nth-child(3) > fieldset > fieldset:nth-child(6) > div.panel-body > div:nth-child(2) > div:nth-child(2) > div > div > span > span").text() && $("#thirdpartyform > div:nth-child(3) > fieldset > fieldset:nth-child(6) > div.panel-body > div:nth-child(2) > div:nth-child(2) > div > div > span > span").text("The field Paid to Date Must Be In DD/MM/YYYY Format.")
        });

        $('input[type=radio][name=ClaimStatus_121]').change(function () {
            if ($('#ClaimStatus_121').is(':checked')) {
                $('#iftant1').show();
                $('#iftant2').show();
                $('#ClaimStatus_222').prop('checked', false);
            }
            else {
                $('#iftant1').hide();
                $('#iftant2').hide();
            }
        });
        $('input[type=radio][name=ClaimStatus_222]').change(function () {
            if ($('#ClaimStatus_222').is(':checked')) {
                $('#iftant1').hide();
                $('#iftant2').hide();
                $('#ClaimStatus_121').prop('checked', false);
            }
            else {
                $('#iftant1').show();
                $('#iftant2').show();

            }
        });
       
    })
</script>

<script type="text/javascript">
    setTabActive('ThirdPartyTab');
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#3rdpartypopup,#AddintialReserve").click(function (event) {
            var id = this.id, uuid = guid(), nuuid = "#" + uuid;
            var str = id == "3rdpartypopup" ? '<div id="' + uuid + '" title="Third Party Service Provider" style="overflow: hidden;"></div>' : '<div id="' + uuid + '" title="Initial Reserve" style="overflow: hidden;"></div>';
            $(str).appendTo(".3rdpartyDialogue")
            InitializeDialog($(nuuid), id);
            event.preventDefault();
            $(nuuid).dialog("open");
            $('div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.alert.ui-draggable').css("top", "130px !important");
            $('div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.alert.ui-draggable').css("top", "130px !important");
            return false;
        });

        function InitializeDialog($element, id) {
            $element.dialog({
                width: "800",
                resizable: false,
                draggable: true,
                show: { effect: 'drop', direction: "up" },
                title: id == "3rdpartypopup" ? "Third Party Service Provider" : "Initial Reserve",
                model: true,
                show: 'slide',
                dialogClass: 'alert',
                closeOnEscape: true,
                open: function (event, ui) {
                    var path = id == "3rdpartypopup" ? '@Url.Content("~/ClaimProcessing/ThrirdPartyPopup")' : '@Url.Content("~/ClaimProcessing/ODInitialReserve")';
                    var path1 = "?uid=" + guid();
                    var cid = path + path1;
                    $element.load(cid);
                },
                position: {
                    my: "center",
                    at: "center",
                    of: window
                },
                close: function () {
                    $element.dialog('destroy').remove();
                }

            });

        };


        var guid = (function () {
            function s4() {
                return Math.floor((1 + Math.random()) * 0x10000)
               .toString(16)
               .substring(1);
            }
            return function () {
                return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
           s4() + '-' + s4() + s4() + s4();
            };
        })();
        String.prototype.contains = function (a) {
            return -1 != this.indexOf(a)
        };

    });
</script>

<script type="text/javascript">
    function OpenMandateEditor() {
        $('#ThirdPartyEditor').attr('style', 'Display:inline');
    };
</script>

<script type="text/javascript">
    $(function () {
        $('#inputMandateType').change(function () {
            var mandateType = ($(this).val());
            if (mandateType == 'PDM') {
                $('#t2').attr('style', 'Display:inline');
             }
             else 
             {
                $('#t2').attr('style', 'Display:inline');
             }
        });
    });
</script>