@model MCAS.Web.Objects.MastersHelper.ClaimReOpenModel
@{
    ViewBag.Title = "ClaimReOpenEditor";
    Layout = "~/Views/Shared/_SystemAdminLayout.cshtml";
    var pageMode = Request.QueryString["pageMode"];
    var btndisplay = "yes";
    if (pageMode == "View")
    {
        btndisplay = "none";
    }
}


<script src='@Url.Content("~/Scripts/jquery-2.1.0.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/jquery.validate.min.js")' type="text/javascript"></script>
<script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")' type="text/javascript"></script>

<div class="dashboard-wrapper">
<div class="container">
<div class="row page-title">
            <div class="col-lg-12">
                <h2>
                    System Admin</h2>
                    <ul class="breadcrumb">
                    <li>Claim Re-open Master Details</li>
                </ul>
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-info">
                <div class="panel-heading clearfix">
                        <i class="icon-check-sign"></i>
                        <h3 class="panel-title">
                            Claim ReOpen Master Details</h3>
                    </div>
                <div style="color:Red; font-weight:bold;"; class="has-error" id="error">
<p align="center">
@if (TempData["notice"] != null) {
  @TempData["notice"]
}
</p>
</div>
                    <div class="panel-body">
                     @using (Html.BeginForm("ClaimReOpenEditor", "ClaimMasters", FormMethod.Post, new { role = "form", @class = "form-horizontal", id = "userdeptsform", name = "userdeptsform" }))
                    {
                        @Html.ValidationSummary(true)
                        <div class="row">
                                <div class="col-lg-6">
                                @Html.HiddenFor(m => m.Id)
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label" for="inputDeptCode">
                                            Claim Reopen Reason Description &nbsp;<span class="text-danger">*</span></label>
                                        <div class="col-sm-6">
                                        @Html.TextBoxFor(m => m.ReOpenDescription, new { id = "ReasonDesc", @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.ReOpenDescription)<br />
                                        </div>
                                    </div>
                                </div>
                                </div>

                        
                        <div class="row">
                            <div class="clearfix igr col-md-12 text-center">
                                @Html.ActionLink("Back", "ClaimReOpenIndex", null, new { @class = "btn btn-info" })&nbsp;&nbsp;&nbsp;&nbsp;
                                <button style="display:@btndisplay" class="btn btn-info">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                
                            </div>
                        </div>
                    }
                    </div>
</div>
            </div>

        </div>
</div>
</div>
