@model IEnumerable<MCAS.Web.Objects.MastersHelper.LossTypeModel>
@using MCAS.Web.Objects.CommonHelper
@using MCAS.Globalisation
@{
    //ViewBag.Title = "Index";
    ViewBag.Title = Index.Title;
    Layout = "~/Views/Shared/_SystemAdminLayout.cshtml";
    @Html.Hidden("oldgroup", 1)
    SecurityPermissions myPemissions = (SecurityPermissions)ViewData["UserPermissions"];        
}
@using MCAS.Web.Objects.Resources.ClaimMasters;
@using MCAS.Web.Objects.Resources.Common;
<script src='@Url.Content("~/Scripts/jquery-2.1.0.min.js")' type="text/javascript"></script>
<div class="dashboard-wrapper"> 
  
  <!-- Bootstrap Container Start -->
  <div class="container"> 
    
    <!-- Page title start -->
    <div class="row page-title">
      <div class="col-lg-12">
        <h2> @Common.SystemAdmin</h2>
        <ul class="breadcrumb">
          <li>@Index.TypeofLoss</li>
        </ul>
      </div>
    </div>
    <!-- Page title end --> 
    
    <!-- Row start -->
            <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading clearfix">
                        <i class="icon-check-sign"></i>
                        <h3 class="panel-title">
                            @Index.TypeofLoss</h3>
                    </div>
                    <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-info">
                    <div class="panel-sub-heading">
                        <span class="text-danger">*</span> @Common.SearchScreen
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Index", "ClaimMasters", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
                        {
                            <div class="row">
                            <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4" for="inputMainClassCode">
                                            @Index.MainClassDescription</label>
                                        <div class="col-sm-6">
                                            <select name="ddlMainClassCode" id="ddlMainClassCode" class="col-lg-12 form-control"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="inputLossTypeCode">
                                            @Index.SubClassDescription</label>
                                        <div class="col-sm-6">
                                           <select name="ddlSubClass" id="ddlSubClass" class="col-lg-12 form-control"></select>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-4" for="ddlLossType">
                                            @Index.LossTypeDescription</label>
                                        <div class="col-sm-6">
                                            <select name="ddlLossType" id="ddlLossType" class="col-lg-12 form-control"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row top-buffer"></div>
                            <div class="row top-buffer"></div> 
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    @*<button type="submit" class="btn btn-primary">
                                        Back</button>*@
                                        <button type="submit" class="btn btn-info">@Common.Search</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        @if (@myPemissions.Write)
                                         {
                                            @Html.ActionLink(Common.AddNew, "Create", "ClaimMasters",new{}, new { @class = "btn btn-info" })
                                         }
                                </div>
                            </div>
                        }
                    </div>
                </div>
                </div>
                </div>
        <!-- Row End -->
<!-- Row Start -->
 <div class="panel-body">
            <div class="row">
            	<div class="col-lg-12 text-center">
                	<h4>@Common.SearchResults</h4> 
                </div>
                <div class="col-lg-12">
                	<div class="table-responsive">
                    <div class="row-fluid">
                    <div class="dataTables_wrapper" id="Diary_wrapper" role="grid">
                    	<table id="tableDiarySrc" width="100%" class="table table-striped table-hover display">
                          <thead>
                          <tr>
                          <th style="width:15%;;padding-left:9px">
                                @Index.LossTypeCode
                          </th>
                            <th style="width:25%;;padding-left:9px">
                                @Index.LossTypeDescription
                            </th>
                            
                            <th style="width:20%;;padding-left:9px">
                                @Index.MainClassDescription
                            </th>
                            <th style="width:25%;;padding-left:9px">
                                 @Index.SubClassDescription
                            </th>
                                                   
                            <th style="width:15%;">
                            <span class="block text-right"> @Common.Select</span>
                            </th>
                        </tr>
                          </thead>
                          <tbody>
                           @{
                               int trid = 1;
                               int rowmatch = 0;
                               var display = "";
                               var strNote = "";
                               var strNote1 = "";
                               foreach (var item in Model)
                               {
                                   rowmatch += 1;
                                   
                                <tr group='@(trid)' style="display:@display;">
                                
                                <td>
                                @Html.DisplayFor(modelItem => item.LossTypeCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LossTypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductDisplayName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubClassCode)
                                </td>
                               
                                <td>
                                 @if (@myPemissions.Write)
                                 {
                                    @Html.EncodedActionLink(Common.Edit, "Create", new { TranId = item.TranId, pageMode = "Edit" }, new { @class = "btn btn-xs btn-warning" })
                                 }
                                    @*@Html.ActionLink("Delete", "Delete", new { TranId = item.TranId }, new { @class = "lnkDelete", onclick = "return confirm('Are you sure you want to delete this Channel?');" })*@
                                      @if (@myPemissions.Read)
                                      {
                                    @Html.EncodedActionLink(Common.View, "Create", new { TranId = item.TranId, pageMode = "View" }, new { @class = "btn btn-xs btn-info" })
                                      }
                                </td>
                            </tr>
                                  
                               }}

                          </tbody>
                        </table>
                        </div>
                        </div>
                    </div>
                </div>
               
            </div>
</div>
    <!-- Row End --> 
    
  </div>
  <!-- Bootstrap Container End --> 
  </div>
            </div>
        </div>
</div>



<script type="text/javascript">

    $(document).ready(function () {
        loadProducts();
        loadSubClass();
        loadLossType();
    });

    function loadProducts() {
        $.ajax({
            url: '@(Url.Action("FillProducts"))',
            cache: false,
            success: function (data) {
                $("#ddlMainClassCode").empty();
                $.each(data, function (index, optiondata) {
                    if (optiondata.ProductCode == '@ViewBag.mainclass')
                        $("#ddlMainClassCode").append("<option value='" + optiondata.ProductCode + "' selected=selected>" + optiondata.ProductDisplayName + "</option>");
                    else
                        $("#ddlMainClassCode").append("<option value='" + optiondata.ProductCode + "'>" + optiondata.ProductDisplayName + "</option>");
                });
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }


    function loadSubClass() {
        $.ajax({
            url: '@(Url.Action("FillSubClassProducts"))',
            cache: false,
            success: function (data) {
                $("#ddlSubClass").empty();
                $.each(data, function (index, optiondata) {
                    if (optiondata.ClassCode == '@ViewBag.subclass')
                        $("#ddlSubClass").append("<option value='" + optiondata.ClassCode + "' selected=selected>" + optiondata.ClassDescrption + "</option>");
                    else
                        $("#ddlSubClass").append("<option value='" + optiondata.ClassCode + "'>" + optiondata.ClassDescrption + "</option>");
                });
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }


    function loadLossType() {
        $.ajax({
            url: '@(Url.Action("FillLossType"))',
            cache: false,
            success: function (data) {
                $("#ddlLossType").empty();
                $.each(data, function (index, optiondata) {
                    if (optiondata.LossTypeCode == '@ViewBag.lossnature')
                        $("#ddlLossType").append("<option value='" + optiondata.LossTypeCode + "' selected=selected>" + optiondata.LossTypeName + "</option>");
                    else
                        $("#ddlLossType").append("<option value='" + optiondata.LossTypeCode + "'>" + optiondata.LossTypeName + "</option>");
                });
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }

</script>


