@model IEnumerable<MCAS.Web.Objects.MastersHelper.TaskModel>
@using MCAS.Web.Objects.Resources.Home;
@using MCAS.Web.Objects.Resources.Common;
@using MCAS.Globalisation;
@{
    var lebmode = Request.QueryString["mode"] != null ? Convert.ToString(Request.QueryString["mode"]) : "";
    var Cmode = Request.QueryString["claimMode"] == null ? "Read" : Request.QueryString["claimMode"];
    Layout = null;
    string isEncryptedParams = System.Configuration.ConfigurationManager.AppSettings["EncryptQueryParams"].ToUpper();
}
<div class="panel-body">
    <h5 class="text-info">
        @Index.TaskRecordTable</h5>
    <hr />
    <div class="col-lg-12">
        <div class="table-responsive" id="Diary_wrapper" role="grid">
            <table id="tableDiarySrc1" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            @Index.ClaimNo.
                        </th>
                        <th>
                            @Index.IPNo
                        </th>
                        <th>
                            @Index.ClaimantName
                        </th>
                        <th>
                            @Index.ActionDue
                        </th>
                        <th>
                            @Index.PromptDetails
                        </th>
                        <th>
                            @Index.ClosedDate
                        </th>
                        <th>
                            @Index.ModifiedDate
                        </th>
                        <th>
                            @Index.AssignedTo
                        </th>
                        <th>
                            @Index.CreatedBy
                        </th>
                        <th>
                            @Index.Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                           
                        foreach (var item in Model)
                        {

                            var Tdays = (Convert.ToDateTime(item.ActionDue).Date - DateTime.Now.Date).TotalDays;
                            var colour = "";
                            var fclour = "black";
                            if (Math.Round(Tdays) < 0)
                            {
                                colour = "red;";
                                fclour = "#FFFFFF !important";
                            }
                            else if (Math.Round(Tdays) <= 3)
                            {
                                colour = "yellow;";
                                fclour = "black";
                            }
                            var dd = item.ActionDue != null ? item.ActionDue.Value.ToString("dd/MM/yyyy") : "";
                            var dd1 = item.CloseDate != null ? item.CloseDate.Value.ToString("dd/MM/yyyy") : "";
                            var dd2 = item.ModifiedDate != null ? item.ModifiedDate.Value.ToString("dd/MM/yyyy") : "";
                            var mode = @lebmode == "" ? @item.Cmode : @lebmode;
                            var url = @Url.Content("~/ClaimProcessing/TaskEditor") + "?PolicyId=" + @item.PolicyId + "&AccidentClaimId=" + @item.AccidentClaimId + "&Id=" + @item.Id + "&claimMode=" + @Cmode + "&ClaimId=" + @item.ClaimID + "&mode=" + @mode;
                        <tr>
                            <td style="color:@fclour;background-color:@colour">
                                @item.Claimno
                            </td>
                            <td style="color:@fclour;background-color:@colour">
                                @item.IPno
                            </td>
                            <td style="color:@fclour;background-color:@colour">
                                @item.ClaimantName
                            </td>
                            <td style="color:@fclour;background-color:@colour">
                                @dd
                            </td>
                            <td style="color:@fclour;background-color:@colour">
                                @Html.DisplayFor(modelItem => item.PromtDetails)
                            </td>
                            <td style="color:@fclour;background-color:@colour">
                                @dd1
                            </td>
                            <td style="color:@fclour;background-color:@colour">
                                @dd2
                            </td>
                            <td style="color:@fclour;background-color:@colour">
                                @item.ClaimsOfficer
                            </td>
                            <td style="color:@fclour;background-color:@colour">
                                @item.CreatedBy
                            </td>
                            <td style="color:@fclour;background-color:@colour">
                                <a class="Dashboard btn btn-xs btn-info" ScreenNameDash="208" screenid="CLM_REG" url='@Url.ActionEncoded("TaskEditor", "ClaimProcessing", new { PolicyId = @item.PolicyId, AccidentClaimId = @item.AccidentClaimId, Id = @item.Id, claimMode = @Cmode, ClaimId = @item.ClaimID, mode = @mode, Viewmode = "View" })' href="#">@Common.View</a>
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
